
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
.gothic {
    font-family: "Gothic A1", sans-serif;
}

.new_shadow{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.item .activeIcon {
    display: none;
}

.item.active .inactiveIcon {
    display: none;
}

.item.active .activeIcon {
    display: flex;
}

.item:not(.active) .content {
    height: 0px;
    overflow: hidden;
    /* transition: all 0.6s; */
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-div-1 #accordian .item.active .header{
    font-weight: bold;

}

.item.active .header{
    /* font-weight: bold; */
    transition: all 0.1s;
}


.item .content {
    /* padding: 1rem; */
    transition: all 0.5s;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    user-select: none;
}
/* border border-black w-4 aspect-square checked:bg-black text-white checked:after:content-['✓'] text-xs font-black px-0.5 */
input[type="checkbox"] {
    appearance: none;
    border: 1px solid black;
    width: 1rem;
    aspect-ratio: 1;
    font-size: 0.75rem;
}
input[type="checkbox"]:checked{
    background-color: black;
    color: white;
}
input[type="checkbox"]:checked::after{
    content: '✓';
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: bold;
    padding-left: 0.125rem;
    padding-right: 0.125rem;    
}
.heading{
    font-size: 15px;
    color: rgb(24 24 27);
    font-family: sans-serif;
}